html,body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-size:12px;
    width:100%;
    height:100%;
    font-family: "Microsoft YaHei";
}

#header{
	height: 60px;
	width: 100%;
	background-color: #32cbcb;
	font-size: 26px;
	line-height: 60px;
	box-shadow: 1px 2px 5px 0 #828e9a;
	position: relative;
	z-index: 2;
}

.title-icon{
	width: 40px;
	height: 40px;
	background: url(../images/workflow.png) no-repeat center;
	display: inline-block;
	float: left;
	top: 10px;
    left: 10px;
	position: absolute;
}
.title{
	display: inline-block;
	margin-left: 54px;
    color: #fff;
}
.title-right{
    float: right;
}

#main{
	width: 100%;
	height: calc(100% - 60px);
	display: none;
}

.table {
    margin: 0px;
    width: 100%;
    box-sizing:border-box;
    display: table;
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
	text-align: center;
}

.title-right {
    line-height: 20px;
    font-size: 12px;
    margin-top: 10px;
    font-weight: bold;
}

.title-right a {
	text-decoration: none;
    margin-right: 10px;
    color: #061d30;
}
.title-right a:hover {
	color: #f5f4ed;
}


/**pagination**/
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination>li {
    display: inline;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

/**pagination--end**/

/*有阴影的panel*/
.panel {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    background-color: #fff;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}

.panel-title {
    color: #797979;
    font-weight: 600;
	border-bottom: 3px solid #797979;
    padding: 10px 0px;
    margin: 0 20px;
}

.panel-title-name{
	font-size: 18px;
	display: inline-block;
}


.panel-title-tool{
	display: inline-block;
	vertical-align: middle;
}

.panel-label-tool ul{
	list-style: none;
	margin: 0px;
}

.panel-label-tool ul li{
	float: left;
	display: inline-block;
	padding: 4px 8px;
	margin: 0 10px;
	background-color: rgba(22, 155, 213, 0.4);
    color: #959595;
    border-radius: 3px;
    cursor: pointer;
}

.panel-label-tool ul li.active{
	background-color: #169bd5;
    color: #fff;
    font-weight: 700;
}

.panel-title-tool ul li:hover{
	box-shadow: 1px 1px 2px #cdcdcd;
    color: #fcf4f4;	
}

.panel-content{
	height: calc( 100% - 51px);
	position: relative;
}


.switch {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 28px;
}

.switch input {display:none;}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #969696;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
 	background-color: #32cbcb;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

.slider.round {
	border-radius: 28px;
}

.slider.round:before {
	border-radius: 50%;
}