.title-right {
    line-height: 20px;
    font-size: 12px;
    margin-top: 10px;
    font-weight: 700;
}
.title-right a {
    margin-right: 10px;
    color: #061d30;
    text-decoration: none;
}

.title-right a:hover {
    color: #f5f4ed
}
#main {
    background: #f8f8f8;
    padding-top: 20px;
}

.panel {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    background-color: #fff;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}

#task_panel {
    width: calc(100% - 40px);
    margin: 0 auto 20px;
    height: calc(100% - 40px);
}

.panel-title {
    color: #797979;
    font-weight: 600;
	border-bottom: 3px solid #797979;
    padding: 10px 0px;
    margin: 0 20px;
}

.panel-title-name{
	font-size: 18px;
	display: inline-block;
}

.panel-title-tool{
	display: inline-block;
	vertical-align: middle;
}

.task-state-div{
	
}

.task-state-div ul{
	list-style: none;
	margin: 0px;
}

.task-state-div ul li{
	float: left;
	display: inline-block;
	padding: 4px 8px;
	margin: 0 10px;
	background-color: rgba(22, 155, 213, 0.4);
    color: #959595;
    border-radius: 3px;
    cursor: pointer;
}

.task-state-div ul li.active{
	background-color: #169bd5;
    color: #fff;
    font-weight: 700;
}

.task-state-div ul li:hover{
	box-shadow: 1px 1px 2px #cdcdcd;
    color: #fcf4f4;	
}
.panel-content{
	height: calc( 100% - 51px);
	position: relative;
}


#task_table{
	height: 100%;
	overflow-y: auto;
	margin:0 20px;
}

#task_table::-webkit-scrollbar{
	width: 0 !important;
}

.order-icon{
	width: 26px;
	height: 20px;
	display: inline-block;
	background-position: center;
	transition: 0.1s all ease;
}

.desc-order{
	background-image: url(../images/desc_off.png);
}

.desc-order.active{
	background-image: url(../images/desc.png);	
}

.desc-order.asc{
	background-image: url(../images/asc_off.png);
}

.desc-order.asc.active{
	background-image: url(../images/asc.png);	
}


#task_table .cell {
    padding: 8px 12px;
    border-bottom: 1px solid #f4f8fb;
    cursor: pointer;
    vertical-align: middle;
}

#task_table .cell span{
	vertical-align: middle;
}

/*#task_table .row:not(.header):hover .cell {
    background-color: #f4f8fb;
}*/

#task_table .row.active-row, #task_table .row:not(.header):hover {
    background-color: #f4f8fb;
    cursor: pointer;
}

#task_table .row.active-row .cell{
	border-top: 1px solid #787878;
	border-bottom: 1px solid #787878;
}

#task_table .row.active-row .cell:first-child{
	border-left: 1px solid #787878;
}
#task_table .row.active-row .cell:last-child{
	border-right: 1px solid #787878;
}
#task_table .cell a{
    text-decoration: none;
    color: #169bd5;
    font-weight:600;
    margin-right: 10px;
}

#task_table .cell a:hover{
	color: #cdcdcd;
}

.loading-svg{
	display: none; 
}

.panel-content.loading .loading-svg{
	display: block;
	position: absolute;
    bottom: calc(50% - 100px);
    left: calc(50% - 100px);
}
.count-div{
	float: right;
	padding-top: 10px;
	margin-right: 10px;
}

.pagination-div{
	float: right;
}
.running-row{
	color: #7f6603;
}

.completed-row{
	color: #7c9a37;
}f

.not-started-row{

}

.failed-row{
	color: #ff0034;
}

.state-icon{
	background-position: center;
    background-repeat: no-repeat;
}

.running-icon{
	background-image: url(../images/play.png);
}
.not-started-icon{
	background-image: url(../images/stop.png);
}
.failed-icon{
	background-image: url(../images/red.png);
}
.completed-icon{
	background-image: url(../images/green.png);
}

/**pagination**/
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination>li {
    display: inline;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

/**pagination--end**/


.process-header{
	background-color: #ff9900;
}

.process-div{
	height:  120px;
	border: 1px solid #787878;
	background-color: #f4f8fb;
	/*box-shadow: 0 5px 10px rgba(0,0,0,.5);*/
	position: absolute;
    left: 20px;
    right: 20px;
    top: 174px;
    display: none;
    z-index: 1002;
}

.process-left{
	width: 60px;
	height: 100%;
	float: left;
	border-right: 1px solid #787878;
	position: relative;
}

.process-right{
	height: 100%;
	width: calc(100% - 61px);
	float: left;
	overflow-y: auto;
}

.process-close-btn{
	position: absolute;
    top: -22px;
    right: 0px;
    width: 30px;
    height: 20px;
    border: 2px solid #787878;
    background-color: #f90;
    border-bottom: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}	

.process-close-btn:hover{
	color: #cdcdcd;
}

.icon-left{
	float: left;
	width: 30px;
	border-right: 1px solid #787878;
	border-bottom: 1px solid #787878;
	height: 100%;
}

.name-right{
    float: left;
    width: calc(100% - 31px);
    height: 100%;
    margin: auto;
    position: absolute;
    right: -6px;
    top: 50%;
    bottom: 0px;
}

.bg-red{
	background-color: red;
}

.bg-green{
	background-color: #00ff00;
}

.bg-yellow{
	background-color: yellow;
}

.bg-white{
	background-color: white;
}

.process-div  .row .cell{
	border-right: 1px solid #787878;
	border-bottom: 1px solid #787878;
	padding: 2px 0px;
}

.process-div .row .cell:last-child{
	border-right: 0;
}