
#main {
    background: #f8f8f8;
    padding-top: 20px;
}

/***model panel***/
#model_panel{
    float: left;
    width: 260px;
    height: calc(100% - 40px);
    margin: 0 20px;
}


.model-tool-div{
    float: right;
}


#models_container{
    overflow-y: auto;
}

#models_container::-webkit-scrollbar{
    width: 0 !important;
}

.model-item {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #f4f8fb;
    font-size: 12px;
    text-align: left;
    margin: 0 20px;
}

.model-icon {
    float: left;
    width: 16px;
    height: 30px;
    padding-left: 20px;
    background: url(../images/gear_16.png) center no-repeat;
}

.model-name{
    width: 180px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    word-break: break-all;
    overflow: hidden;
}

.model-item.active, .model-item:hover {
    background-color: #cdcdcd;
    cursor: pointer;
    color: #fff;
}

/***task panel ***/
#task_panel{
    float: left;
    width: calc(100% - 320px);
    height: calc(100% - 40px);
}

#task_table{
	height: 100%;
	overflow-y: auto;
	margin:0 20px;
}

#task_table::-webkit-scrollbar{
	width: 0 !important;
}

.order-icon{
	width: 26px;
	height: 20px;
	display: inline-block;
	background-position: center;
	transition: 0.1s all ease;
}

.desc-order{
	background-image: url(../images/desc_off.png);
}

.desc-order.active{
	background-image: url(../images/desc.png);	
}

.desc-order.asc{
	background-image: url(../images/asc_off.png);
}

.desc-order.asc.active{
	background-image: url(../images/asc.png);	
}


#task_table .cell {
    padding: 8px 12px;
    border-bottom: 1px solid #f4f8fb;
    cursor: pointer;
    vertical-align: middle;
}

#task_table .cell span{
	vertical-align: middle;
}

#task_table .row.active-row, #task_table .row:not(.header):hover {
    background-color: #f4f8fb;
    cursor: pointer;
}

#task_table .row.active-row .cell{
	border-top: 1px solid #787878;
	border-bottom: 1px solid #787878;
}

#task_table .row.active-row .cell:first-child{
	border-left: 1px solid #787878;
}
#task_table .row.active-row .cell:last-child{
	border-right: 1px solid #787878;
}
#task_table .cell a{
    text-decoration: none;
    color: #169bd5;
    font-weight:600;
    margin-right: 10px;
}

#task_table .cell a:hover{
	color: #cdcdcd;
}

.loading-svg{
	display: none; 
}

.panel-content.loading .loading-svg{
	display: block;
	position: absolute;
    bottom: calc(50% - 100px);
    left: calc(50% - 100px);
}
.count-div{
	float: right;
	padding-top: 10px;
	margin-right: 10px;
}

.pagination-div{
	float: right;
}
.running-row{
	color: #7f6603;
}

.completed-row{
	color: #7c9a37;
}

.not-started-row{

}

.failed-row{
	color: #ff0034;
}

.state-icon{
	background-position: center;
    background-repeat: no-repeat;
}

.running-icon{
	background-image: url(../images/play.png);
}
.not-started-icon{
	background-image: url(../images/stop.png);
}
.failed-icon{
	background-image: url(../images/red.png);
}
.completed-icon{
	background-image: url(../images/green.png);
}

.process-header{
	background-color: #ff9900;
}

.process-div{
	height:  120px;
	border: 1px solid #787878;
	background-color: #f4f8fb;
	/*box-shadow: 0 5px 10px rgba(0,0,0,.5);*/
	position: absolute;
    left: 20px;
    right: 20px;
    top: 174px;
    display: none;
    z-index: 1002;
}

.process-left{
	width: 60px;
	height: 100%;
	float: left;
	border-right: 1px solid #787878;
	position: relative;
}

.process-right{
	height: 100%;
	width: calc(100% - 61px);
	float: left;
	overflow-y: auto;
}

.process-close-btn{
	position: absolute;
    top: -22px;
    right: 0px;
    width: 30px;
    height: 20px;
    border: 2px solid #787878;
    background-color: #f90;
    border-bottom: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}	

.process-close-btn:hover{
	color: #cdcdcd;
}

.icon-left{
	float: left;
	width: 30px;
	border-right: 1px solid #787878;
	border-bottom: 1px solid #787878;
	height: 100%;
}

.name-right{
    float: left;
    width: calc(100% - 31px);
    height: 100%;
    margin: auto;
    position: absolute;
    right: -6px;
    top: 50%;
    bottom: 0px;
}

.bg-red{
	background-color: red;
}

.bg-green{
	background-color: #00ff00;
}

.bg-yellow{
	background-color: yellow;
}

.bg-white{
	background-color: white;
}

.process-div  .row .cell{
	border-right: 1px solid #787878;
	border-bottom: 1px solid #787878;
	padding: 2px 0px;
}

.process-div .row .cell:last-child{
	border-right: 0;
}

