.title-right {
    line-height: 20px;
    font-size: 12px;
    margin-top: 10px;
    font-weight: bold;
}

.title-right a {
	text-decoration: none;
    margin-right: 10px;
    color: #061d30;
}
.title-right a:hover {
	color: #f5f4ed;
}

#left{
	float: left;
	height: 100%;
	width: 210px;
	border-right: 2px solid #787878;
}

#right{
    float: left;
    height: 100%;
    width: calc(100% - 212px);
    font-size: 12px;
    position: relative;
}

.titlebar{
	height: 30px;
	padding-left: 10px;
	line-height: 30px;
	background-color: #eeeeee;
	border-bottom: 1px solid #dddddd;
}

.titlebar-title{
	display: inline-block;
	font-weight: 600;
}

.titlebar-tools{
	display: inline-block;
	float: right;
	margin-right: 3px;
}

.titlebar-tools button{
	width: 52px;
	height: 20px;
	border-radius: 4px;
	background-color: #169bd5;
	color: #fff;
	border: none;
	cursor: pointer;
}

.panel-contaniner{
	height: calc(100% - 30px);
	width: 100%;
	overflow-y: auto;
}
.panel-contaniner.loading{
	background: url(../images/spin.gif) no-repeat center;
}

.model-item{
	height: 25px;
	line-height: 25px;
	border-bottom: 1px dotted #aaaaaa;
	font-size: 12px;
	text-align: left;
}
.model-name{
	width: 144px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    word-break: break-all;
    overflow: hidden;
}

.model-item:hover,.model-item.active{
	background-color: #cdcdcd;
	cursor: pointer;
	color: #fff;
}

.model-item:hover .btns{
	display: none;
}

.model-item.active:hover .btns{
	display: block!important;
}

.remove-btn {
	background: url(../images/remove_on.png) no-repeat center;
	color: #fff;
	font-size: 16px;
	border: none;
	cursor: pointer;
	height: 25px;
	width: 25px;
	padding: 0px;
	vertical-align: middle;
}

.remove-btn:hover{
	background-image: url(../images/remove_off.png);
}
.btns button:focus{
	outline: 0;
}

.model-item div{
	float: left;
}

.model-icon{
	width: 16px;
	height: 25px;
	padding-left:20px;
	background: url(../images/gear_16.png) no-repeat center;
}

.new-task-btn{
	width: 92px !important;
	margin-right: 64px;
}

.table{
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.cell{
	padding: 1px 12px;
	border-bottom: 1px solid #787878;
    border-right: 1px solid #787878;
}
.cell button{
	margin-right: 6px;
	cursor: pointer;
}
.task-header{
	background-color: #99cdff;
}

.running-row{
	color: #7f6603;
}

.completed-row{
	color: #7c9a37;
}

.not-started-row{

}

.failed-row{
	color: #ff0034;
}

.completed-row .show-results-btn, .failed-row .show-results-btn{
	display: inline-block;
}
.not-started-row .show-results-btn,.running-row .show-results-btn{
	display: none;
}

.state-icon{
	background-position: center;
    background-repeat: no-repeat;
}

.running-icon{
	background-image: url(../images/play.png);
}
.not-started-icon{
	background-image: url(../images/stop.png);
}
.failed-icon{
	background-image: url(../images/red.png);
}
.completed-icon{
	background-image: url(../images/green.png);
}
#task_table .row.active-row, #task_table .row:not(.header):hover{
	background-color: #32ffff;
	cursor: pointer;
}

.process-header{
	background-color: #ff9900;
}

.process-div{
	height:  120px;
	border: 1px solid #787878;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0,0,0,.5);
	position: absolute;
    left: 212px;
    right: 0px;
    top: 174px;
    display: none;
    z-index: 1002;
}

.process-left{
	width: 60px;
	height: 100%;
	float: left;
	border-right: 1px solid #787878;
	position: relative;
}

.process-right{
	height: 100%;
	width: calc(100% - 61px);
	float: left;
	overflow-y: auto;
}

.process-close-btn{
	position: absolute;
    top: -22px;
    right: 0px;
    width: 30px;
    height: 20px;
    border: 2px solid #787878;
    background-color: #f90;
    border-bottom: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}	

.process-close-btn:hover{
	color: #cdcdcd;
}

.icon-left{
	float: left;
	width: 30px;
	border-right: 1px solid #787878;
	border-bottom: 1px solid #787878;
	height: 100%;
}

.name-right{
    float: left;
    width: calc(100% - 31px);
    height: 100%;
    margin: auto;
    position: absolute;
    right: -6px;
    top: 50%;
    bottom: 0px;
}

#task_table{
	height: 170px;
	overflow-y: auto;
	border-bottom: 2px solid #787878;
	width: 100%;
}

#canvas_div{
	width: 100%;
	height: calc(100% - 204px);
	overflow: hidden;
	position: relative;
}

#canvas{
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-user-select: none;  
  	-moz-user-select: none;     
  	-ms-user-select: none;      
  	user-select: none;          
}

#state_div{
	position: absolute;
	left: 35px;
	top: 25px;
	font-size: 14px;
	z-index: 1001;
	background-color: rgba(22, 155, 213, 0.35);
	padding: 4px 3px 0px;
	border-radius: 4px;
	box-shadow: 1px 1px 1px #cdcdcd;
}

#state_div  .state-name{
	display: inline-block;
    width: 43px;
    text-align: center;
    vertical-align: top;
    height: 28px;
    line-height: 28px;
    color: #353535;
    border-radius: 10px;
}

#data_div{
	height: 20px;
	width: 23px;
	top: 25px;
	left: 200px;
	border: 1px solid #787878;
	position: absolute;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../images/ellipse.png);
	z-index: 1001;
}

#data_div:hover, #data_div.active{
	border: 1px solid #32cbcb;
}

#funcs{
	position: absolute;
	left: 35px;
	top: 74px;
	width: 130px;
	z-index: 1001;
	background-color: rgba(150, 150, 150, 0.38);;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    color: #353535;
    border-radius: 4px;
}

#funcs .titlebar{
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
	font-weight: 600;
	border-radius: 4px 4px 0px 0px;
}
#funcs .funcs_container{
	background-color: #fff;
}
.func_wrapper{
	text-align: center;
	height: 18px;
	line-height: 18px;
	border-bottom: 1px solid #ebebeb;
	transition: all 0.1s;
}

.func_wrapper:hover, .func_wrapper.active{
	cursor: pointer;
    background-color: #acacac;
    color: #fff;
}
.func_wrapper:last-child{
	border-bottom: 0;
	border-radius: 0px 0px 4px 4px;
}

#tools{
	position: absolute;
	left: 338px;
	top: 25px;
	z-index: 1001;
}

.tool{
	width: 20px;
	height: 20px;
	border: 1px solid #787878;
	float: left;
	margin-right: 3px;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #fff;
}

.tool:hover,.tool.active{
	border: 1px solid #32cbcb;
}

.move-tool{
	background-image: url(../images/pointer.png);
}

.connect-tool{
	background-image: url(../images/conn.png);
}

.remove-tool{
	background-image: url(../images/close.png);
}

.refresh-tool{
	background-image: url(../images/refresh.png);	
}

.save-tool{
	background-image: url(../images/save.png);	
}

#resize_div{
	position: absolute;
	right: 24px;
	top: 22px;
	width: 40px;
	height: 40px;
	background: url(../images/fullscreen.png) center no-repeat;
	cursor: pointer;
	z-index: 1001;
}

#resize_div.full-screen{
	background: url(../images/fullscreen_exit.png) center no-repeat;
}

#left.full-screen {
	display: none;
}

#right.full-screen{
	width: 100% !important;
}

#right .titlebar.full-screen{
	display: none;
}

#task_table.full-screen{
	display: none;
}

#canvas_div.full-screen{
	height: 100%;
}

.bg-red{
	background-color: red;
}

.bg-green{
	background-color: #00ff00;
}

.bg-yellow{
	background-color: yellow;
}

.bg-white{
	background-color: white;
}

.image-icon{
	position: absolute;
	width: 48px;
	height: 48px;
	cursor: pointer;
	background: url(../images/image.png) no-repeat;
	animation: myfirst 0.5s;
	-moz-animation: myfirst  0.5s;	
	-webkit-animation: myfirst 0.5s;	
	-o-animation: myfirst  0.5s;	
}
.image-icon:hover{
	transform: scale(0.9);
}
@keyframes myfirst
{
	0%   {transform:translate(0px,-100px);}
	50%   {transform:translate(0px,0px);}
	75%   {transform:translate(0px,-30px);}
	100% {transform:translate(0px,0px);}
}
@-webkit-keyframes myfirst
{
	0%   {transform:translate(0px,-100px);}
	50%   {transform:translate(0px,0px);}
	75%   {transform:translate(0px,-30px);}
	100% {transform:translate(0px,0px);}
}

.modal {
	transition: all 0.3s;
	transform: scale(0);
	opacity: 0.0;
    position: fixed; 
    z-index: 1009; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.9); 
}

.modal.active{
	transform: scale(1);
	opacity: 1;
}



.modal.loading .loading-svg{
	display: block;
}
.loading-svg{
	margin: 0 auto;
	display: none;
}

.modal-content {
    margin: auto;
    display: block;
	margin-top: 60px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
}
#caption a{
	color: #fff;
	text-decoration: none;
}

#caption a:hover{
	color: #ddd;
	text-shadow: 2px 2px 4px #fff;
}


.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.black-overlay{
	box-sizing: content-box;
    z-index: 999999;
    background-color: #000;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    opacity: 0.8;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.highlight-object{
	z-index: 9999999!important;
	position: relative;
}

.highlight-overlay{
	z-index: 9999998;
	background-color: rgba(255,255,255,.9);
	position: absolute;
	    box-shadow: 0 2px 15px rgba(0,0,0,.4);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.highlight-info{
	position: absolute;
	z-index: 999999;
	width: 200px;
	background-color: #fff;
	box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
	padding: 16px;
	-webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    border-radius: 6px;
}

.highlight-info .info-text{
	width: 100%;
	min-height: 60px; 
	padding: 6px;
	font-size: 14px;
}

.hide-step{
	display: none;
}

.highlight-info .info-bottom-btn{
	width: 82px;
    height: 36px;
    border-radius: 4px;
    background-color: #32cbcb;
    color: #fff;
    border: none;
    cursor: pointer;
}
.highlight-info .info-bottom-btn:hover{
	box-shadow: 2px 2px 1px 1px #cbc4c4;
	font-weight: 600;
}


/********************************************************************/
/*    switch
/********************************************************************/
.switch {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 28px;
}

.switch input {display:none;}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #969696;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
 	background-color: #32cbcb;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

.slider.round {
	border-radius: 28px;
}

.slider.round:before {
	border-radius: 50%;
}
